<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>All Products Are</h1>
    <ul>
        <% for(let product of products) { %>
            <li>Product Name: <%= product.Name %> <a href="/product/<%= product._id %>">ShowDetails</a></li>
        <% } %>
    </ul>

    <br>

    <a href="/product/create">Create Product</a>

</body>
</html>