<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the name of my friend</h1>
    <ol>
        <% for (let name of list) {%>
            <li><%= name %></li>
        <% } %> 
    </ol>
</body>
</html>